name: Rustling CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  RUST_BACKTRACE: 1
  

jobs:

  info:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Compiler version
      run: rustc --version


  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on:  ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Format script
      run: rustfmt hello.rs

    - name: Create test binary
      run: rustc --test hello.rs --verbose -o hello_test

    - name: Create application binaries
      run: rustc hello.rs


  test:
    needs: [build]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust: [stable]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Execute test binary
      run: ./hello_test

    - name: Run application
      run: ./hello
