name: Rustling CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  RUST_BACKTRACE: 1
  

jobs:

  info:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Compiler version
      run: rustc --version


  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust: [stable]

    runs-on:  ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Format script
      run: rustfmt hello.rs

    - name: Create test binary
      run: rustc --test hello.rs --verbose -o hello_test

    - name: Create application binary
      run: rustc hello.rs

    - name: Move test and application binaries to artifacts directory
      run: |
        mkdir -p binaries
        mv ./hello_test ./binaries/
        mv ./hello ./binaries/

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: test-and-app
        path: ./binaries/


  test:
    needs: [build]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust: [stable]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download artifacts to current directory
      uses: actions/download-artifact@v3
      with:
        name: test-and-app

    - name: Display structure of downloaded files
      run: |
        ls -la
        chmod +x hello_test
        chmod +x hello

    - name: Execute test binary
      run: ./hello_test

    - name: Run application
      run: ./hello
