name: Rusting CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Format scripts
      run: rustfmt *.rs

    - name: Compile binary
      run: rustc hello.rs

    - name: Execute Binary
      run: ./hello
