name: Rustling CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  RUST_BACKTRACE: 1
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Format scripts
      run: rustfmt *.rs

    - name: Compile binaries
      run: rustc *.rs

    - name: Create test binaries
      run: rustc --test hello.rs --verbose -o hello_test

    - name: Execute test binary
      run: ./hello_test
