name: Ubuntu CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  

jobs:

  info:
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Compiler version
      run: rustc --version


  build:
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Format script
      run: rustfmt hello.rs

    - name: Create test binary
      run: |
        rustc --test hello.rs --verbose -o hello_test
        rustc --test lasagna.rs --verbose -o lasagna_test
        rustc --test assembly_line.rs --verbose -o assembly_line_test
        rustc --test log_messages.rs --verbose -o log_messages_test
        rustc --test health_stats.rs --verbose -o health_stats_test

    - name: Create application binary
      run: |
        rustc hello.rs
        rustc lasagna.rs
        rustc assembly_line.rs
        rustc log_messages.rs
        rustc health_stats.rs

    - name: Create test and application cache 
      uses: actions/cache@v3
      id: test-app
      with:
        path: |
          ./hello_test
          ./hello 
          ./lasagna_test
          ./lasagna
          ./assembly_line_test
          ./assembly_line
          ./log_messages_test
          ./log_messages
          ./health_stats_test
          ./health_stats
        key: ${{ github.sha }}

  test:
    needs: [build]
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use test and application cache
      uses: actions/cache@v3
      id: test-app
      with:
        path: |
          ./hello_test
          ./hello
          ./lasagna_test
          ./lasagna
          ./assembly_line_test
          ./assembly_line
          ./log_messages_test
          ./log_messages
          ./health_stats_test
          ./health_stats
        key: ${{ github.sha }}

    - name: Execute test binaries
      run: |
        ./hello_test
        ./lasagna_test
        ./assembly_line_test
        ./log_messages_test
        ./health_stats_test

    - name: Execute application binaries
      run: |
        ./hello
        ./lasagna
        ./assembly_line
        ./log_messages
        ./health_stats
