name: Ubuntu CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  

jobs:

  info:
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Compiler version
      run: rustc --version


  build:
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Format script
      run: rustfmt hello.rs

    - name: Create test binary
      run: |
        rustc --test hello.rs --verbose -o hello_test
        rustc --test lasagna.rs --verbose -o lasagna_test

    - name: Create application binary
      run: |
        rustc hello.rs
        rustc lasagna.rs

    - name: Create test and application cache 
      uses: actions/cache@v3
      id: test-app
      with:
        path: |
          ./hello_test
          ./hello 
          ./lasagna_test
          ./lasagna
        key: ${{ github.sha }}

  test:
    needs: [build]
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use test and application cache
      uses: actions/cache@v3
      id: test-app
      with:
        path: |
          ./hello_test
          ./hello
          ./lasagna_test
          ./lasagna
        key: ${{ github.sha }}

    - name: Execute test and application binaries
      run: |
        ./hello_test
        ./hello
        ./lasagna_test
        ./lasagna